h1,div,p{
    border:3px solid blueviolet;
    text-align: center;
    color:cornflowerblue;
    padding:10px;
    display:block;/*valor por defecto*/
}
h1{
    display:none;/*no muestra ni permanece espacio*/
}
p{
    visibility: hidden;/**mantiene el espacio pero no muestra*/
}
span{
    display:inline;/**por defecto inlnie*/
    border: 1px solid blue;
}
a{
    display:block;
    text-align: center;
}
li{
    display:inline; 
}